*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
.main-menu{
    text-align: center;
    padding-top: 18%;
    font-size: 1.2rem;
}
div> p{
    margin-top: 10px;
}
.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-top: 5px;
}
.luas {
    border: 2px solid black;
    border-radius: 20px;
    padding: 3px;
    margin-top: 2%;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: black;
}
.keliling {
    border:2px solid black;
    border-radius: 20px;
    padding: 3px;
    margin-left: 1%;
    margin-top: 2%;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: black;
}
.cta a:hover{
    border: 2px solid black;
    color: black;
    background: #39A7FF ;
    transition: .4s;
}
.luas-content{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10px;
}
.image {
    width: 35vh;
    margin-top: 30px;
    
}
.input{
    display: flex;
    justify-content: center;
    gap: 3%;
    padding-bottom: 5px;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
button{

    display: inline-block;
    outline: 0;
    border: solid 1px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    background-color: #39A7FF;
    padding: 0 10px;
    margin: 10px;
    
}
button:hover {
        background-color: #187dcf;
    }
input::placeholder{
    font-size: 1em;
    font-weight: 700;
}

.rumus {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 5%;
}
.form1 {
    background: white;
    border: solid 2px;
    border-radius: 15px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-155%, 60%);
    width: 500px;
    
}
.form2 {
    background: white;
    border: solid 2px;
    border-radius: 15px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-115%, 60%);
    width: 500px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20%;
}